[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytz = "*"
psycopg2-binary = "*"
firebase-admin = "*"
python-dotenv = "*"
gunicorn = "*"
djangorestframework = "*"
coverage = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.10"
