{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <a class="button" href="{% static 'procedure.png' %}">Stress experiment procedure</a>
    <a class="button" onclick="randomOrder();">PPG accuracy random order</a>
    <a class="button" onclick="copyTime();">Copy current time</a>
    <label><input type="text" value="" id="timeInput" hidden></label>

    <table>
        <tr>
            <th class="id_column">id</th>
            <th class="name_column">Name</th>
            <th class="amount_column">EMA #</th>
            <th class="actions_column">Actions</th>
        </tr>
        {% for user in users %}
            <tr>
                <td class="id_column">{{ user.id }}</td>
                <td class="name_column">{{ user.name }}</td>
                <td class="amount_column">{{ user.ema_amount }}</td>
                <td class="actions_column">
                    {% if user.fcm_token %}
                        <a title="Send EMA" onclick="sendEmaRequest({{ user.id }}, '{{ user.name }}');">
                            <img class="action_button_green" src="{% static 'send.png' %}" alt="send">
                        </a>
                    {% else %}N/A{% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <style>
        table {
            color: #333;
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            table-layout: fixed;
        }

        th {
            background: #4285F4; /* #F1F1F1; /* Darken header a bit */
            color: white;
            font-weight: bold;
            padding: 10px 0;
            font-size: large;
        }

        td {
            background: white;
            text-align: center;
            cursor: pointer;
            padding: 5px;
        }

        /* Cells in even rows (2,4,6...) are one color */
        tr:nth-child(even) td {
            background: white;
        }

        /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
        tr:nth-child(odd) td {
            background: #DFDFDF;
        }

        tr:not(:first-child):hover td {
            background: #666;
            color: white;
        }

        .id_column {
            width: 15%;
        }

        .name_column {
            width: 35%;
        }

        .amount_column {
            width: 15%;
        }

        .actions_column {
            width: 20%
        }

        td, th {
            border: 1px solid transparent; /* No more visible border */
            height: 30px;
        {#transition: all 0.3s; /* Simple transition for hover effect */#}
        }

        img.action_button_green {
            background: #2ecc71;
            vertical-align: middle;
            padding: 3px;
            margin: 2px 0;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: larger;
            cursor: pointer;
        {#transition: all 0.3s;#}
        }

        a.button {
            cursor: pointer;
            text-decoration: none;
            color: white;
            border-radius: 24px;
            display: inline-block;
            margin: 20px 0;
            padding: 10px 30px;
            background-color: #4285F4;
        }
    </style>

    <script>
        function sendEmaRequest(pid, pname) {
            $.ajax({
                url: '{% url 'sendEMAPushApi' %}',
                type: "POST",
                headers: { Authorization: 'Token {{ token }}' },
                data: {pid: pid},
                error: err => alert(`Failed to deliver EMA to ${pname} (pid=${pid}) !`),
                success: data => alert(`EMA delivered to ${pname} (pid=${pid}) !`),
            });
        }

        function fallbackCopyTextToClipboard(text) {
            const textArea = document.createElement("textarea");
            textArea.value = text;

            // Avoid scrolling to bottom
            textArea.style.top = "0";
            textArea.style.left = "0";
            textArea.style.position = "fixed";

            document.body.appendChild(textArea);
            textArea.focus();
            textArea.select();

            try {
                const successful = document.execCommand('copy');
                const msg = successful ? 'successful' : 'unsuccessful';
                console.log('Fallback: Copying text command was ' + msg);
            } catch (err) {
                console.error('Fallback: Oops, unable to copy', err);
            }

            document.body.removeChild(textArea);
        }

        function copyTextToClipboard(text) {
            if (!navigator.clipboard) {
                fallbackCopyTextToClipboard(text);
                return;
            }
            navigator.clipboard.writeText(text).then(function () {
                console.log('Async: Copying to clipboard was successful!');
            }, function (err) {
                console.error('Async: Could not copy text: ', err);
            });
        }

        function copyTime() {
            let dt = new Date();
            copyTextToClipboard(dt.getTime().toString())
            alert(`Copied ${dt.toTimeString()}`);
        }

        function shuffle(array) {
            let currentIndex = array.length, randomIndex;

            // While there remain elements to shuffle...
            while (currentIndex !== 0) {

                // Pick a remaining element...
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex--;

                // And swap it with the current element.
                [array[currentIndex], array[randomIndex]] = [
                    array[randomIndex], array[currentIndex]];
            }

            return array;
        }

        function randomOrder() {
            let arr = ['staticfiles, tight', 'walking, tight', 'running, tight', 'staticfiles, medium', 'walking, medium', 'running, medium', 'staticfiles, loose', 'walking, loose', 'running, loose'];
            arr = shuffle(arr);
            let str = "";
            for (let i = 0; i < arr.length; i++)
                str += `\n${i}. ${arr[i]}`;

            copyTextToClipboard(str);
            alert(str);
        }
    </script>
{% endblock %}